<%= link_to article_path(article), data: { turbo_frame: "dashboard-container" }, 
  class: "card hover:shadow-lg transition-shadow block p-4 rounded-lg border bg-white" do %>
    <h3 class="text-xl font-semibold mb-2"><%= article.title %></h3>
    <p class="text-sm text-gray-600"><%= truncate(article.abstract, length: 100) %></p>
    <p class="text-xs text-gray-400 mt-2">Por <%= article.user.name %></p>
<% end %>
