<li class="notification-item" style="padding: 0.5rem; border-bottom: 1px solid #eee;">
  <%= message %>
  <br>
  <small style="color: #666; font-size: 0.8rem;">
    <%= Time.current.strftime("%d/%m/%Y %H:%M") %>
  </small>
</li>
