<turbo-frame id="dashboard-container">
<div class="login-container">
  <% content_for :title, "New event" %>

  <h1>New event</h1>

  <%= render "form", event: @event %>

  <br>

  <div>
    <%= link_to "Back to dashboard", root_path %>
  </div>
</div>
</turbo-frame>